# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/

# Virtual environments
venv/

# Jupyter
.ipynb_checkpoints/

# Testing / coverage
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
.tox/

# Environment / secrets
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Data (große/erzeugte Dateien nicht versionieren, ggf. anpassen)
data/*
!data/.gitkeep

# results werden nicht in git versioniert, da sie jederzeit eindeutig reproduziert werden können
results/

# Anlegen und auch leer in git versionieren, damit der Ordner existiert
!examples/.gitkeep
!results/.gitkeep
!src/nh3powerplant/components/.gitkeep
!src/nh3powerplant/fluids/.gitkeep
!src/nh3powerplant/simulation/.gitkeep
!src/nh3powerplant/validation/.gitkeep
!src/nh3powerplant/reporting/.gitkeep


# gefundene Dokumente
dissertation_prof_dr_kail.pdf

# dont version control the following files
docs/Übersicht.md
